# ARM
BR2_arm=y
BR2_BINFMT_ELF=y
BR2_cortex_a7=y
BR2_ARM_EABIHF=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_ARM_INSTRUCTIONS_ARM=y
# toolchain
BR2_TOOLCHAIN_BUILDROOT=y
BR2_GCC_VERSION_9_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_USE_MMU=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
# Qt5
BR2_PACKAGE_QT5=y
BR2_PACKAGE_QT5BASE=y
BR2_PACKAGE_QT5BASE_EXAMPLES=y
BR2_PACKAGE_QT5BASE_MYSQL=y
BR2_PACKAGE_QT5BASE_SQLITE_QT=y
BR2_PACKAGE_QT5BASE_GUI=y
BR2_PACKAGE_QT5BASE_WIDGETS=y
BR2_PACKAGE_QT5BASE_LINUXFB=y
BR2_PACKAGE_QT5BASE_TSLIB=y
BR2_PACKAGE_QT5QUICKCONTROLS=y
BR2_PACKAGE_QT5QUICKCONTROLS2=y
BR2_PACKAGE_QT5VIRTUALKEYBOARD=y
BR2_PACKAGE_QT5BASE_GIF=y
BR2_PACKAGE_QT5BASE_JPEG=y
BR2_PACKAGE_QT5BASE_PNG=y
BR2_PACKAGE_QT5CHARTS=y
# System configuration
BR2_TARGET_GENERIC_HOSTNAME="atkbuildrootQtfs"
BR2_TARGET_GENERIC_ISSUE="Welcome to alientek buildroot Qt rootfs"
BR2_INIT_BUSYBOX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# filesystem / image
BR2_TARGET_ROOTFS_EXT4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="1GB"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
# - tiny ssh server and sftp server
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_GESFTPSERVER=y
BR2_TARGET_GENERIC_GETTY_PORT="ttySTM0"